.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerTab {
  text-align: center;
}
.buttonTab {
  background-color: #0475e0;
  border-radius: 25px;
  text-align: center;
  margin-top: 30px;
}
.buttonText {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding: 7px;
}
.buttonText:hover {
  cursor: pointer;
}
